{% extends "base.html" %}
{% load static %}
{% block header %}
<script src="{% static 'workflow/create.js' %}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<!-- <script type="text/javascript">
    $(document).ready(function() {

        $("#SelRole").select2({

        });
    });
</script> -->
<script type="text/javascript" src={% static "js/autocomplete.js" %}></script>
<style type="text/css">
.select {
    float: right;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
</style>
{%endblock%}
{% block content %}
<div class="container-fluid">

        <form method="POST" id="workflow_form">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" required>
            <div id="node_list" class="row">
              <div id="cloneIt">
                <div class="col-2" id="node_1_head" name="node_1_head">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Node 1</h5>
                            <p class="card-text">Please select a <strong>role</strong> and its <strong>team</strong>:</p>
                            <label for="roles">Role : </label><br>
                            <select type="text" name="node_1_role" width="200 px;" placeholder="Select Role" data-search="true" required="True" id="node_1_role" >
                                {%for item in role_list%}
                                <option value="{{ item }}">{{item}}</option>
                                print({{ item }})
                                {% endfor %}
                            </select>
                            <label for="teams">Team : </label><br>
                            <select name="node_1_team" width="200" placeholder="Select Team" data-search="true" type="text" id="node_1_team">
                                <option value="None">None</option>
                                {%for item in team_list%}
                                <option value="{{ item }}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button id="btnAddNode" type="button">ADD</button>
            <button id="btnSubmit" type="button">CREATE</button>
            <button id="btnDeleteNode" type="button">Delete</button>
        </form>
</div>
{%endblock%}
{% block footer %}
<!-- <script type="text/javascript">
$(document).ready(function() {
    // Use delegate function for dynamic objects
    $(document).on('click', 'input[name$=_role]', function(){

    $(this).autocomplete({
        serviceUrl: '/employee/api/role/',
        paramName: 'search',
        transformResult: function(response) {
            response = JSON.parse(response);
            return {
                suggestions: $.map(response, function(dataItem) {
                    return { value: dataItem.role_name};
                })
            };
        },

        onSelect: function(suggestion) {
            // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
            $(this).val(suggestion.value);

        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: 'Sorry, no matching results'
    });
    });

    $(document).on('click', 'input[name$=_team]', function(){

    $(this).autocomplete({
        serviceUrl: '/teams/api/team/',
        paramName: 'search',
        transformResult: function(response) {
            response = JSON.parse(response);
            return {
                suggestions: $.map(response, function(dataItem) {
                    return { value: dataItem.team_name};
                })
            };
        },

        onSelect: function(suggestion) {
            // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
            $(this).val(suggestion.value);

        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: 'Sorry, no matching results'
    });
    });
});
</script> -->
{%endblock%}
