{% extends "base.html" %}
{% load static %}

{% block header %}
    <title>AWS | Forms | All Forms</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <script>
        function showMessage(s) {
            alertify.error(s);
        }
    </script>
{%endblock%}

{% block content %}
    <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10'>
            <br><br>
            <div class='jumbotron'>
                <h5><strong>Welcome to the Automated Workflow System - Select a Form to Edit or Fill</strong></h5>
            </div>
            <br><br>
            <table  class='styled-table' >
                <tr  class='styled-table' >
                    <th class='styled-table'>Title</th>
                    {% comment %} <th>Workflow</th> {% endcomment %}
                    <th class='styled-table'>Creator</th>
                    <th class='styled-table' >Active</th>
                    <th class='styled-table'>Edit</th>
                    <th class='styled-table'>Preview</th>
                    <th class='styled-table' >Create Instance</th>
                    <th class='styled-table' >Toggle Activation</th>
                </tr>
                {% for fb in form_blueprints %}
                    <tr class='styled-table' >
                        {% comment %} <td>{{ fb.title }}</td> {% endcomment %}
                        <td class='styled-table' >{{ fb.workflow.title  }}</td>
                        <td class='styled-table' >{{ fb.workflow.creator }}</td>
                        <td class='styled-table' >{{ fb.active }}</td>
                        <td class='styled-table' >
                            {% ifequal fb.workflow.creator user.profile %}
                                {% if fb.saved %}
                                    <a class='disabled-link' href="javascript:showMessage('Cannot edit form which is already saved!')">Edit</a>
                                {%else%}
                                    <a href="{% url 'fb_edit' fb_id=fb.id %}">Edit</a>
                                {% endif %}
                            {% else %}
                                <a class='disabled-link' href="javascript:showMessage('Only the creator can edit!')">Edit</a>
                            {% endifequal %}
                        </td>
                        <td class='styled-table' >
                            {% if fb.saved %}
                                <a href="{% url 'fb_preview' fb_id=fb.id %}">Preview</a>
                            {%else%}
                                <a class='disabled-link' href="javascript:showMessage('Form hasn't been saved yet!')">Preview</a>
                            {%endif%}
                        </td>
                        <td class='styled-table' >
                            {% if fb.saved %}
                                <a href="{% url 'fi_create' fb_id=fb.id%}">Create Instance</a>
                            {% else %}
                                <a class='disabled-link' href="javascript:showMessage('Form hasn't been saved yet!')">Create Instance</a>
                            {% endif %}
                        </td>
                        <td class='styled-table' >
                            {% ifequal fb.workflow.creator user.profile %}
                                <a href="{% url 'fb_toggle_activation' fb_id=fb.id %}">Toggle Activation</a>
                            {%else%}
                                <a class='disabled-link' href="javascript:showMessage('Only the creator can toggle activation!!')">Preview</a>
                            {%endifequal%}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class='col-md-1'></div>
    </div>
{%endblock%}
