{% extends "base.html" %}
{% load static %}


{% block header %}
    <title>AWS | Forms | Create </title>
    <script src="{% static 'forms/create.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script>
        let fb_id = parseInt("{{ fb_object.pk }}");
    </script>
{%endblock%}

{% block content %}
    <div class='col-md-1'></div>
    <div class='col-md-10'>
        <div class='jumbotron'>
            <h5><strong>Welcome to the Automated Workflow System - Forms Create Page</strong></h5>
        </div>
        {% comment %} add section button {% endcomment %}
        <button class='btn ' id='add_section'>Add Section</button>
        
        <br><br><br><br>
        {% comment %} create a form for adding a field which then invokes the js function {% endcomment %}
        <form name='add_field_form' id='add_field_form' >
            {% comment %} dropdown for selecting the type of field {% endcomment %}
            <label for="type_of_field">Type: </label>
            <select id="type_of_field">
                <option value="strng">String</option>
                <option value="intgr">Integer</option>
                <option value="mcqs">Multiple Choice Single Select</option>
                <option value="mcqm">Multiple Choice Multiple Select</option>
                <option value="fl">File Upload</option>
            </select>
            <br><br>

            {% comment %} title of the field {% endcomment %}
            <label for="title_of_field">Title: </label>
            <input type="text" id="title_of_field" name="title_of_field">
            <br><br>

            {% comment %} required field or not {% endcomment %}
            <label class="switch">Required:
            <input id='required_field' name='required_field' type="checkbox">
            <span class="slider round"></span>
            </label>
            <br><br>

            {% comment %}the submit button for the add field form  {% endcomment %}
            <input id ='submit_add_field' class='btn' type='submit' value='Add Field'>
        </form>
        {% comment %} <br><br><br> {% endcomment %}
        {% comment %} Here add the div for mcqs, mcqm and fl type fields{% endcomment %}
        <div id='optional_div'>
            <form id='add_option_form'>
                <label for='option_text'>Add Option: </label>
                <input type='text' id='option_text'>
                <input class='btn' type='submit'  value='Add Option'>
            </form>
        </div>
        {% comment %} the optional div ends here {% endcomment %}
        <br><br>
        {% comment %} this is the actual dynamic form object {% endcomment %}
        <button class='btn btn-md' id='log_btn'>Save Form Blueprint</button>

        <form name='dynamic-form' id='dynamic-form'>
        
        </form>

        
    </div>
    <div class='col-md-1'></div>

{%endblock%}